@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

/* position absolute picks up the closest relative ansestor as a mark  */
.absolute {
  background: #00f;
  position: absolute;
  top: 0;
  left: -10000px;
}

/* relative to it's parent container */
.relative {
  background: #f00;
  position: relative;
  top: 400px;
  left: 100px;
}

.fixed {
  background: green;
  position: fixed;
  top: 100px;
}

.sticky {
  background: black;
  position: sticky;
  top: 0
}

/* ============================================= */

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

.blue {
  background-color: #00f;
}

.red {
  background-color: #f00;
}

.green {
  background-color: green;
}

header,
footer {
  color: #fff;
  text-align: center;
  height: 100px;
}

header {
  position: sticky;
  top: 0;
  font-size: 5rem;
}

footer {
  background: #000;
  position: sticky;
  bottom: 0;
  font-size: 3rem;
}

a:visited {
  color: #fff;
}

.social {
  background-color: royalblue;
  color: #fff;
  font-size: inherit;
  padding: 1rem;
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 1;
}
