@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  padding: 10%;
  font-size: 1rem;
}

/* Inputs and buttons of <form> are not inherit by defauft */
input,
button {
  font: inherit
}

p {
  text-decoration: none;
  text-transform: capitalize;
  text-align: left;
  text-indent: 2em;
  line-height: 1.5;
  /* line-height: 1.2 by default */
  font-weight: bold;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}
